# Created by .gitignore support plugin (alan.yan)
### maven ###
target/
.mvn
mvnw.cmd
mvnw

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
.externalToolBuilders/
.settings/
.tern-project
.metadata/
.mine/
logs/
dev.properties
dubbo.properties
dev-admin.properties
dependency-reduced-pom.xml
*.rdb
*.log
*.gz
*apidocs/
*.versionsBackup
flyway.properties
_book/
**/rebel.xml
null/
application.yml
!application-*.yml
application.properties
application-*.properties
!*/src/test/resources/application.yml
!*/src/test/resources/application-*.yml
!*/src/test/resources/application.properties
!*/src/test/resources/application-*.properties
*.bak

